body {
  background-color: rgb(35, 35, 37);
  box-sizing: border-box;
  color: rgb(198, 193, 184);
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
}

section {
  border: 1px solid rgb(198, 193, 184);
  margin: 0 auto;
  padding: 2rem;
  max-width: 1000px;
}

h1, h2 {
  color: rgb(192, 123, 119);
}

.dashed-border {
  border: 1px dashed rgb(198, 193, 184);
  margin: 50px;
  padding: 1.5rem;
  width: 500px;
}

a {
  color: rgb(198, 193, 184);
  text-decoration: none;
}

.inline a {
  margin: 0 2rem;
}

.boxed a {
  background-color: green;
  color: white;
  padding: 1.5rem;
  margin: 0;
}

.float a {
  float: left;
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-right: 2rem;
  border: 2px solid rgb(86, 244, 66);
}

.float a:first-of-type {
  margin-left: 2rem;
}

.cf::after {
  clear: both;
  content: "";
  display: block;
}

p {
  line-height: 2rem;
}

.blue-background {
  background-color: #142b87; 
  color: white;
}

.green-box-centered {
  background-color: green;
  color: white;
  min-height: 60px;
  margin: 20px;
  padding: 20px;
  line-height: 1rem;
}

.green-box-centered p {
  vertical-align: middle;
}

.brown-box-left {
  background-color: brown;
  color: white;
  max-width: 90px; 
}

.explicit-height-and-width {
  background-color: maroon;
  color: white;
  height: 120px;
  margin: 20px;
  padding: 20px;
  width: 180px;
}

.float-block-no-width-or-height div:first-of-type {
  background-color: blue; 
}
