html {
  font: 16px lightgray Helvetica, Arial, sans-serif;
}

body {
  background-color: #9e8719;
}

header {
  background-color: #3d557f;
  border-radius: 0 0 16px 16px;
  padding: 2.5rem 0 2.5rem 0;
  margin: 0 auto;
  width: 1000px;
}

header h1 {
  color: white;
  font-size: 2.5rem;
  margin-left: 2.5rem;
}

main {
  background-color: #242524;
  color: #fbf7f1;
  margin: 2rem auto 5rem auto;
  width: 1000px;
}

main h1 {
  font-size: 2rem;
  padding-top: 2rem;
  margin-left: 2.5rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.2rem;
  text-transform: capitalize;
}

h3 {
  font-size: 1rem;
  font-weight: normal;
  margin-top: 5px;
}

a {
  color: black;
}

section {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  padding-bottom: 3rem;
}

ul {
  display: grid;
  grid-gap: 17px;
  grid-template-columns: repeat(4, 1fr);
}

li {
  background-color: white;
  padding: 15px;
}

img {
  display: block;
  height: 140px;
  margin: 0 auto;
  padding-bottom: 1rem;
}
